SPRING_PROFILES_ACTIVE=prod
PORT=8080
DB_URL=jdbc:mysql://host:3306/moosty?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=replace_me
JWT_SECRET=replace_with_base64_secret
TMDB_API_KEY=replace_me
FRONTEND_BASE_URL=https://your-frontend-domain
APP_OWNER_USERNAME=ShreySHam
